*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .flex-container{
    border: 10px solid rgb(126, 47, 182);
} */

.flex-item{
    padding: 10px;
    font: 900 60px 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0,0,0,0.2);
}
.item-1{
    background: linear-gradient(45deg, #e1eec3, red);
}
.item-2{
    background: linear-gradient(45deg, #e1eec3, rgb(38, 138, 155));
}
.item-3{
    background: linear-gradient(45deg, #e1eec3, rgb(174, 58, 163));
}
.item-4{
    background: linear-gradient(45deg, #e1eec3, rgb(132, 255, 0));
}
.item-5{
    background: linear-gradient(45deg, #e1eec3, rgb(16, 62, 20));
}
.item-6{
    background: linear-gradient(45deg, #e1eec3, rgb(183, 129, 219));
}
.item-7{
    background: linear-gradient(45deg, #e1eec3, rgb(42, 28, 146));
}
.item-8{
    background: linear-gradient(45deg, #e1eec3, rgb(92, 11, 11));
}

/* .flex-container{
    display: flex;    
    flex-direction: row;
    min-height: 100vh;
}
.flex-item{
    flex: 1;
}
@media screen and (max-width: 650px) {
    .flex-container{
        flex-direction: column;
    }
} */



/* .flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh; */
    /* flex-direction: column; */
    /* padding: 5px; */
    /* gap: 10px;
} */

/* .flex-item{
    width: calc(33.33% - 10px);
    
} */




/* .flex-container{
    /* display: flex; */
    /* height: 100vh; */
    /* flex-flow: column wrap; */
    /* justify-content: space-around; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-evenly; */
   
    
/* } */

/* .flex-item{ */
    /* width: 100px; */
/* } */


/* .flex-container{
   
    display: flex;
    height: 100vh; */
    /* align-items: baseline;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center;
} */

/* .flex-item{
    width: 100px;
}
.item-2{
    font-size: 150px;
}
.item-4{
    font-size: 100px;
} */


/* .flex-container{
    display: flex;
    height: 100vh;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column-reverse;
} */
/* .flex-item{
    width: 200px;
} */




/* .flex-container{
    display: flex;
    height: 100vh;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
} */

/* .flex-item{
    width: 200px;
} */


/* .flex-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* .flex-item{
    width: 300px;
} */

/* .item-1{
    align-self: stretch;
}
.item-2{
    align-self: start;
}
.item-3{
    align-self: center;
}
.item-4{
    align-self: flex-end;
}
.item-5{
    align-self: baseline;
}
.item-6{
    align-self: baseline;
    font-size: 100px;
} */



/* .flex-container{
    display: flex;
} */

/* .flex-item{ */
    /* flex-basis: 300px; */
    /* flex: 1; */

    /* flex-grow: 1; */
    /* flex: 1 0 300px;
} */

/* .item-2{
    flex-shrink: 2;
}
.item-3{
    flex-shrink: 3;
} */

/* .flex-container{
    display: flex;
    height: 100vh;
}

.flex-item {
    flex: 1;
}

   @media screen and (max-width:650px){
    .flex-container{

        flex-direction: column;
    }
    .item-2{
        order: -1;
    }
   }  */

/* }
.item-1{
    order: 1;
}
.item-7{
    order: -2;
}
.item-6{
    order: -1;
}
.item-4{
    order: 2;
}
.item-5{
    order: 1;
} */





/* .flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
} */



/* .flex-item{
    flex-grow: 1;
    flex-basis: 100px;
} */

/* .item-3{
    flex-grow: 5;
} */